body {
  background-color: #000;
  color: #f704ea;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  /*justify-content: center;
  margin: 0 auto;*/
  text-align: center;
}
.container {
  width: 964px;
  margin: 0 auto;
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  border: 2px solid;
  clear: both;
}
span {
  color: rgb(231, 4, 252);
}
.G,
.colors,
.fonts,
.neutralColors {
  width: 320px;
  background-color: #0f73f5;
  color: #f01111;
  border: 4px solid #fdaff3;
  font-weight: 400;
  font-size: large;
  margin: 5px auto;
  padding: 25px;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;
  border: px solid;
  /*color: #d3d3d3;*/
}
.NC {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  gap: 5px;
}
.green {
  background-color: #09a709;
  color: #fff;
  grid-row: span 2;
}
.red {
  background-color: #ff0000;
  color: #130f0f;
  /*grid-row: span 2;*/
}
.fonts {
  background-color: #f704ea;
  color: #312424;
  grid-row: span 2;
}
.tans {
  background-color: tan;
  color: #f30606;
}
.coloris {
  background-color: rgb(196, 129, 129);
  color: #f704ea;
  border: 3px solid;
}
/*#Tans {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 2fr;
  grid-auto-columns: 3fr;
  gap: 10px;
}*/

.Tans {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 10px;
}
.tans {
  background-color: #f4a460;
  color: #f01111;
}
.khaki {
  background-color: #f0e68c;
  letter-spacing: 1em;
}
.black {
  background-color: #000;
  letter-spacing: 1em;
}
.grey {
  background-color: #808080;
  color: #04f855;
  letter-spacing: 1em;
  grid-column: span 2;
}
/*NAV BEGINS */
.site-nav a  {
  display: block;
  padding: 10px;
  margin: 10px;
  border: 3px solid #f704ea;
  border-bottom: none;
  text-decoration: none;
  color: #04f855;
  margin-bottom:0;
}
.site-nav a:hover {
  background-color: #f704ea;;
  color: #000
}
.site-nav a:visited {
  background-color:#0f99f5;
  color: red;


}
.site-nav li  {
  list-style:  none;
  text-decoration: none;
  float:left;
}

h1 {
  border:3px solid ;
  clear:both
}
/* NAV ENDS*/
